:root{
    --max-cont_size: 1250px;
    --simple-gradient: linear-gradient(90deg, rgba(22, 101, 52, 0.5), rgba(3, 106, 161, 0.5));
    --stat-gradient: linear-gradient(90deg, #166534cc, #036aa1cc), url('images/usine2.jfif') center center;
    --second-part-gradient: linear-gradient(45deg, #F9FAFB, #EFF6FF);
}

*{
    font-family: Poppins, Arial, Helvetica;
}


body
{
    margin: 0;
    padding: 0;
    overflow-x: hidden !important;
    min-height: 100vh;
    position: relative;
    font-family: Poppins, Arial;
}

header
{
    position: fixed;
    width: 100%;
    height: 80px;
    z-index: 3;
    overflow-x: clip;
}


header nav
{
    width: 92%;
    max-width: var(--max-cont_size);
    margin:  0 auto;
    display: flex;
    align-items: center;
    height: 100%;
    position: relative;
    justify-content: space-between;

}


header .brand
{
    width: 85px;
    height: 85px;
}

header .nav-bg
{
    position: absolute;
    height: 80px;
    top: 0;
    width: 100%;
    z-index: -1;
}

header .brand img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    object-position: -5px 0px;
}


header nav .desktop-menu-items
{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}   

header nav .desktop-menu-items li 
{
    cursor: pointer;
}


header nav .desktop-menu-items a
{
    text-decoration: none;
    color: currentColor;
    width: 100%;
    height: 100%;
    padding: 5px 10px;
    color: white;
    transition: all ease .4s;
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}


header nav .desktop-menu-items a::before
{
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    transition: all ease .4s;
    background: var(--simple-gradient);
    z-index: -1;
    border-radius: 20px;
}


header nav .desktop-menu-items li:hover a::before, header nav .desktop-menu-items li a.active::before
{
    width: 100%;
}
